<template>
  <canvas id="budget_vs_actual"></canvas>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";

export default defineComponent({
  name: "ChartCategorisedBudgetVsActual",
  data() {
    return {
      chart: {} as Chart<"bar", number[], string>,
    };
  },
  props: {
    categorisedAmounts: Object as PropType<
      Array<{
        category: string;
        amount: number;
        budget: number;
      }>
    >,
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart(): void {
      const colours = [
        "#00D1B2",
        "#00B59A",
        "#01A68E",
        "#00967F",
        "#00826E",
        "#006859",
      ];

      const canvas = document.getElementById(
        "budget_vs_actual"
      ) as HTMLCanvasElement;

      new Chart(canvas, {
        type: "bar",
        data: {
          labels: this.categorisedAmounts?.map((ca) => ca.category),
          datasets: [
            {
              label: "Budget",
              data: this.categorisedAmounts?.map((c) => c.budget),
              backgroundColor: "#FF3860",
            },
            {
              label: "Actual",
              data: this.categorisedAmounts?.map((c) => c.amount),
              backgroundColor: "#3273DC",
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Budget vs Actual Spendings per Category",
            },
            // tooltip: {
            //   callbacks: {
            //     footer: (items) => {
            //       return `Total: ${this.categorisedAmounts
            //         ?.reduce((pv, cv) => pv + cv.amount, 0)
            //         .toFixed(2)}`;
            //     },
            //   },
            // },
          },
        },
      });
    },
  },
});
</script>
