<template>
  <canvas id="actual_breakdown"></canvas>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";

export default defineComponent({
  name: "ChartCategorisedBreakdown",
  data() {
    return {
      chart: {} as Chart<"doughnut", number[], string>,
    };
  },
  props: {
    categorisedAmounts: Object as PropType<
      Array<{
        category: string;
        amount: number;
      }>
    >,
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart(): void {
      const colours = [
        "#00D1B2",
        "#00B59A",
        "#01A68E",
        "#00967F",
        "#00826E",
        "#006859",
      ];

      const canvas = document.getElementById(
        "actual_breakdown"
      ) as HTMLCanvasElement;

      new Chart(canvas, {
        type: "doughnut",
        data: {
          labels: this.categorisedAmounts?.map((ca) => ca.category),
          datasets: [
            {
              label: "Amount",
              data: this.categorisedAmounts?.map((c) => c.amount),
              backgroundColor: colours,
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Expenses per Category",
            },
            tooltip: {
              callbacks: {
                footer: (items) => {
                  return `Total: ${this.categorisedAmounts
                    ?.reduce((pv, cv) => pv + cv.amount, 0)
                    .toFixed(2)}`;
                },
              },
            },
          },
        },
      });
    },
  },
});
</script>
