<template>
  <canvas id="bar_trend"></canvas>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";

export default defineComponent({
  name: "ChartCategorisedTrend",
  data() {
    return {
      chart: {} as Chart<"doughnut", number[], string>,
    };
  },
  props: {
    categorisedAmounts: Object as PropType<
      Array<{
        category: string;
        trendItems: Array<{
          year: string;
          month: string;
          amount: number;
        }>;
      }>
    >,
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart(): void {
      if (this.categorisedAmounts == null) return;

      const colours = [
        "#00D1B2",
        "#00B59A",
        "#01A68E",
        "#00967F",
        "#00826E",
        "#006859",
      ];
      const canvas = document.getElementById("bar_trend") as HTMLCanvasElement;

      new Chart(canvas, {
        type: "bar",
        data: {
          labels: this.categorisedAmounts[0].trendItems.map(
            (t) => `${t.year}-${t.month}`
          ),
          datasets: [
            ...this.categorisedAmounts.map((t, index) => {
              return {
                label: t.category,
                data: t.trendItems.map((t) => t.amount),
                backgroundColor: colours[index % colours.length],
              };
            }),
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Trend",
            },
            tooltip: {
              callbacks: {
                footer: (items) => {
                  const [year, month] = items[0].label.split("-");
                  return `Total: ${this.categorisedAmounts
                    ?.flatMap((ca) => ca.trendItems)
                    .filter(
                      (e) =>
                        e.year == year && e.month == month && e.amount !== 0
                    )
                    .reduce((pv, cv) => pv + cv.amount, 0)
                    .toFixed(2)}`;
                },
              },
            },
          },
          scales: {
            x: {
              stacked: true,
            },
            y: {
              stacked: true,
              min: 0,
              ticks: {
                stepSize: 500,
              },
            },
          },
        },
      });
    },
  },
});
</script>
