<template>
  <canvas v-if="resident" :id="`${resident.id}_spending`"></canvas>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";
import { IPaymentSimple } from "@/models/payment";
import { IResidentSimple } from "@/models/resident";
import _ from "lodash";

export default defineComponent({
  name: "ChartResidentSpending",
  data() {
    return {
      chart: {} as Chart<"doughnut", number[], string>,
    };
  },
  props: {
    resident: Object as PropType<IResidentSimple>,
    numberOfResidents: Number as PropType<number>,
    payments: Object as PropType<Array<IPaymentSimple>>,
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart(): void {
      const colours = ["#3273DC", "#FF3860"];

      const canvas = document.getElementById(
        `${this.resident?.id}_spending`
      ) as HTMLCanvasElement;

      const spent = _.chain(this.payments)
        .filter((p) => p.resident.id === this.resident?.id)
        .sumBy((p) => p.amount)
        .value();
      const target =
        _.chain(this.payments)
          .sumBy((p) => p.amount)
          .value() / (this.numberOfResidents ? this.numberOfResidents : 1);
      const owed = _.max([target - spent, 0]);

      new Chart(canvas, {
        type: "doughnut",
        data: {
          labels: ["Spent", "Owed"],
          datasets: [
            {
              label: "Amount",
              data: [spent, owed],
              backgroundColor: colours,
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: `${this.resident?.username}`,
            },
            tooltip: {
              callbacks: {
                footer: (items) => {
                  return `Target: ${target.toFixed(2)}`;
                },
              },
            },
          },
        },
      });
    },
  },
});
</script>
