<template>
  <footer class="footer navbar is-fixed-bottom level">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-semibold">HomeBuddy v1.0</p>
      </div>
      <div class="level-item">
        <img style="max-height: 1rem" src="@/assets/project_badge.png" />
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Navbar",
  computed: {
    isBurgerMenuActive() {
      return this.$store.state.isBurgerMenuActive;
    },
  },
});
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";

$footer-padding: 1rem 6rem;

@import "~bulma";
</style>
