<template>
  <div class="card" v-if="home">
    <div class="card-image">
      <figure class="image is-square">
        <img
          :src="
            home.picture
              ? `data:image/png;base64, ${home.picture}`
              : 'https://bulma.io/images/placeholders/1280x960.png'
          "
          alt="Picture"
        />
      </figure>
    </div>
    <div class="card-content">
      <p class="has-text-weight-semibold is-size-4">
        {{ home.name }}
      </p>
      <div class="content">
        <span style="white-space: pre-line">
          {{ home.address }}
        </span>
        <br />
        {{ home.postalCode }}
      </div>

      <div>
        <span v-if="isOwner" class="tag is-info is-light">Owner</span>
        <span v-else class="tag is-light">Tenant</span>
      </div>
    </div>
    <footer class="card-footer">
      <router-link
        :to="{ name: 'HomeDetails', params: { id: home.id } }"
        class="card-footer-item"
        >Details</router-link
      >
      <template v-if="isOwner">
        <router-link
          :to="{ name: 'HomeUpdate', params: { id: home.id } }"
          class="card-footer-item"
          >Edit</router-link
        >
      </template>
    </footer>
  </div>
</template>

<script lang="ts">
import { IHomeSimple } from "@/models/home";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "HomeCard",
  props: {
    home: Object as PropType<IHomeSimple>,
  },
  data() {
    return {
      isOwner: this.home?.ownerAccountIds.includes(
        this.$store.state.account.id
      ),
    };
  },
});
</script>
