<template>
  <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <img src="@/assets/navbar_logo.png" height="56px" />
      </router-link>

      <a
        role="button"
        :class="
          isBurgerMenuActive ? 'navbar-burger is-active' : 'navbar-burger'
        "
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar"
        @click="
          isBurgerMenuActive
            ? $store.commit('hideBurgerMenu')
            : $store.commit('showBurgerMenu')
        "
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      id="navbar"
      :class="isBurgerMenuActive ? 'navbar-menu is-active' : 'navbar-menu'"
    >
      <div class="navbar-start">
        <router-link
          class="navbar-item"
          :to="{ name: 'Homes' }"
          @click="$store.commit('hideBurgerMenu')"
          >Homes</router-link
        >
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons" v-if="$store.state.account.id">
            <router-link
              class="button is-primary"
              to="/account"
              @click="$store.commit('hideBurgerMenu')"
            >
              <strong>
                {{ $store.state.account.username.toUpperCase() }}
              </strong>
            </router-link>
            <router-link
              class="button is-light"
              to="/"
              @click="
                $store.commit('setAccount', {});
                $store.commit('hideBurgerMenu');
              "
            >
              Log out
            </router-link>
          </div>
          <div class="buttons" v-else>
            <router-link
              class="button is-primary"
              to="/signup"
              @click="$store.commit('hideBurgerMenu')"
            >
              <strong>Sign up</strong>
            </router-link>
            <router-link
              class="button is-light"
              to="/login"
              @click="$store.commit('hideBurgerMenu')"
            >
              Log in
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Navbar",
  computed: {
    isBurgerMenuActive() {
      return this.$store.state.isBurgerMenuActive;
    },
  },
});
</script>
