<template>
  <div
    v-if="alert.show"
    :class="
      alert.type == 0 ? 'notification is-success' : 'notification is-warning'
    "
  >
    <button class="delete" @click="$store.commit('toggleAlert')"></button>
    {{ alert.message }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  computed: {
    alert() {
      return this.$store.state.alert;
    },
  },
});
</script>
