<template>
  <progress class="progress is-small is-primary" max="100"></progress>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ProgressBar",
});
</script>
