<template>
  <div class="container">
    <Navbar></Navbar>
    <div class="section">
      <Notification></Notification>
      <ProgressBar v-if="$store.state.isPageReady === false"></ProgressBar>
      <router-view />
    </div>
    <Footer></Footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Navbar from "./components/Navbar.vue";
import Notification from "./components/Notification.vue";
import ProgressBar from "./components/ProgressBar.vue";
import Footer from "./components/Footer.vue";

export default defineComponent({
  name: "App",
  components: {
    Navbar,
    Notification,
    ProgressBar,
    Footer,
  },
  computed: {
    isPageActive() {
      console.log("isPageActive", this.$store.state.isPageReady);
      return this.$store.state.isPageReady;
    },
  },
});
</script>
