<template>
  <div class="field">
    <p>{{ account.id }}</p>
    <p>{{ account.role }}</p>
  </div>
  <div class="field">
    <label class="label" for="username">User Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        id="username"
        readonly
        v-model="account.username"
      />
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input
        class="input"
        type="email"
        id="email"
        readonly
        v-model="account.email"
      />
    </div>
  </div>

  <div class="field">
    <p class="label">List of Residency</p>
    <table class="table">
      <thead>
        <tr>
          <th>Home</th>
          <th>Resident</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="resident in account.residents" :key="resident.id">
          <td>
            <p>{{ resident.home.id }}</p>
            <p>{{ resident.home.name }}</p>
          </td>
          <td>{{ resident.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pre>{{ account }}</pre>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";
import { IAccountInfo } from "@/models/account";

export default defineComponent({
  name: "Account",
  data() {
    return {
      account: this.$store.state.account,
    };
  },
  async created() {
    const data: IAccountInfo = (
      await axios.get(`${process.env.VUE_APP_BACKEND}/api/accounts/me`, {
        headers: {
          Authorization: `Bearer ${this.$store.state.account.accessToken}`,
        },
      })
    ).data;

    this.account.addAccountInfo(data);
  },
});
</script>
