<template>
  <div>
    <p class="title">Dashboard</p>
    <div>
      <p>I am still thinking what to display here.</p>
      <p>
        Click <router-link :to="{ name: 'Homes' }">here</router-link> to go to
        see your homes.
      </p>
    </div>
    <br />
    <div>
      <p>
        For exploring the feature without creating an account, please use the
        credentials below to login:
      </p>
      <p>Username: <code>User1</code></p>
      <p>Password: <code>Password!234</code></p>
    </div>
  </div>
</template>
