<template>
  <div>
    <p class="title">Homes</p>
    <div class="field">
      <div class="control">
        <router-link class="button is-primary" :to="{ name: 'HomeCreate' }">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Create new home</span>
        </router-link>
      </div>
    </div>
    <div v-if="$store.state.isPageReady" class="columns is-multiline">
      <div class="column is-one-quarter" v-for="home in homes" :key="home.id">
        <HomeCard :home="home"></HomeCard>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import HomeCard from "@/components/HomeCard.vue";
import { IHomeDetail, IHomeSimple } from "@/models/home";
import axios from "axios";

export default defineComponent({
  name: "Homes",
  components: { HomeCard },
  data() {
    return {
      homes: [] as Array<IHomeSimple>,
      selectedHome: {} as IHomeDetail,
    };
  },
  async created() {
    this.$store.commit("setPageReady", false);
    this.homes = (
      await axios.get(`${process.env.VUE_APP_BACKEND}/api/homes`, {
        headers: {
          Authorization: `Bearer ${this.$store.state.account.accessToken}`,
        },
      })
    ).data;
    this.$store.commit("setPageReady", true);
  },
  methods: {
    async selectHome(id: string) {
      this.selectedHome = (
        await axios.get(`${process.env.VUE_APP_BACKEND}/api/homes/${id}`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.account.accessToken}`,
          },
        })
      ).data;
    },
  },
});
</script>
