<template>
  <div>
    <div class="field">
      <div class="buttons">
        <router-link
          class="button is-small is-text"
          :to="{ name: 'HomeDetails', params: { id: $route.params.id } }"
        >
          <span class="icon"><i class="fas fa-caret-left"></i></span>
          <span>Back to home details</span>
        </router-link>
      </div>
    </div>
    <p class="title">{{ year }} - {{ month }}</p>
    <div class="pagination is-right">
      <a class="pagination-previous button is-light" @click="addMonth(-1)">
        <span class="icon">
          <i class="fas fa-arrow-left"></i>
        </span>
        <span>Previous month</span>
      </a>
      <a class="pagination-next button is-light" @click="addMonth(1)">
        <span>Next month</span>
        <span class="icon">
          <i class="fas fa-arrow-right"></i>
        </span>
      </a>
      <div class="pagination-list"></div>
    </div>
    <div class="tabs is-centered">
      <ul>
        <li
          :class="selectedTab === 'month' ? 'is-active' : ''"
          @click="selectedTab = 'month'"
        >
          <a>
            <span class="icon">
              <i class="fas fa-chart-pie"></i>
            </span>
            <span>Month</span>
          </a>
        </li>
        <li
          :class="selectedTab === 'all' ? 'is-active' : ''"
          @click="selectedTab = 'all'"
        >
          <a>
            <span class="icon">
              <i class="fas fa-chart-bar"></i>
            </span>
            <span>All</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="box" v-if="$store.state.isPageReady">
      <template v-if="selectedTab === 'month'">
        <div class="columns">
          <div class="column">
            <ChartCategorisedBreakdown
              v-if="paymentStats.categorisedBreakdown"
              :categorised-amounts="paymentStats.categorisedBreakdown"
            ></ChartCategorisedBreakdown>
          </div>
          <div class="column">
            <ChartCategorisedBudgetVsActual
              v-if="paymentStats.categorisedBreakdown"
              :categorised-amounts="paymentStats.categorisedBreakdown"
            ></ChartCategorisedBudgetVsActual>
          </div>
        </div>
        <div class="columns is-multiline">
          <div
            class="column is-3"
            v-for="resident in paymentStats.residents"
            :key="resident.id"
          >
            <ChartResidentSpending
              :resident="resident"
              :number-of-residents="paymentStats.residents.length"
              :payments="payments"
            ></ChartResidentSpending>
          </div>
        </div>
      </template>
      <template v-else>
        <ChartCategorisedTrend
          v-if="paymentStats.categorisedTrend"
          :categorised-amounts="paymentStats.categorisedTrend"
        ></ChartCategorisedTrend>
      </template>
    </div>
    <div class="table-container">
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Paid by</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="payment in payments" :key="payment.id">
            <td>{{ payment.name }}</td>
            <td>
              {{ new Date(payment.dateTime).toLocaleString() }}
            </td>
            <td>{{ payment.amount.toFixed(2) }}</td>
            <td>{{ payment.category?.name || "NA" }}</td>
            <td>{{ payment.resident.username }}</td>
            <td>
              <router-link
                class="button is-light is-small"
                :to="{
                  name: 'PaymentUpdate',
                  params: { id: payment.id, callbackUrl: $route.fullPath },
                }"
                >Edit</router-link
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IPaymentSimple, IPaymentStats } from "@/models/payment";
import axios from "axios";
import moment, { Moment } from "moment-timezone";
import ChartCategorisedBreakdown from "@/components/ChartCategorisedBreakdown.vue";
import ChartCategorisedBudgetVsActual from "@/components/ChartCategorisedBudgetVsActual.vue";
import ChartCategorisedTrend from "@/components/ChartCategorisedTrend.vue";
import ChartResidentSpending from "@/components/ChartResidentSpending.vue";
import { IResidentSimple } from "@/models/resident";
import _ from "lodash";

export default defineComponent({
  name: "HomePayments",
  components: {
    ChartCategorisedBreakdown,
    ChartCategorisedBudgetVsActual,
    ChartCategorisedTrend,
    ChartResidentSpending,
  },
  data() {
    return {
      yearMonth: moment.tz("Asia/Singapore") as Moment,
      payments: [] as Array<IPaymentSimple>,
      paymentStats: {} as IPaymentStats,
      selectedTab: "month" as string,
    };
  },
  computed: {
    year(): number {
      return this.yearMonth.year();
    },
    month(): number {
      return this.yearMonth.month() + 1;
    },
  },
  async created() {
    this.$store.commit("setPageReady", false);

    await this.getPayments();
    await this.getPaymentStats();

    this.$store.commit("setPageReady", true);
  },
  methods: {
    async getPayments(): Promise<void> {
      const { id } = this.$route.params;
      this.payments = (
        await axios.get(
          `${process.env.VUE_APP_BACKEND}/api/payments?homeId=${id}&year=${this.year}&month=${this.month}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        )
      ).data;
    },
    async getPaymentStats(): Promise<void> {
      const { id } = this.$route.params;
      this.paymentStats = (
        await axios.get(
          `${process.env.VUE_APP_BACKEND}/api/payments/stats?homeId=${id}&year=${this.year}&month=${this.month}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        )
      ).data;
    },
    async addMonth(count: number): Promise<void> {
      const newYearMonth = this.yearMonth.clone().add(count, "month");
      this.yearMonth = newYearMonth;
      this.$store.commit("setPageReady", false);

      await this.getPayments();
      await this.getPaymentStats();

      this.$store.commit("setPageReady", true);
    },
  },
});
</script>
