<template>
  <div>
    <div class="field">
      <div class="buttons">
        <router-link
          class="button is-small is-text"
          :to="{ name: 'Homes' }"
        >
          <span class="icon"><i class="fas fa-caret-left"></i></span>
          <span>Back to home list</span>
        </router-link>
      </div>
    </div>
    <p class="title">{{ home.name }}</p>
    <!-- Summary -->
    <div class="box">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Residents</p>
            <p class="title">
              {{ home.residents ? home.residents.length : 0 }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div v-if="home.payments">
            <p class="heading">Current Month (SGD)</p>
            <p class="title">
              {{ totalSpending.toFixed(2) }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div v-if="home.payments">
            <p class="heading">Budget (SGD)</p>
            <p class="title">
              {{ totalBudget.toFixed(2) }}
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div v-if="home.payments">
            <p
              :class="
                balance >= 0
                  ? 'heading has-text-success'
                  : 'heading has-text-danger'
              "
            >
              {{ balance >= 0 ? "Within the budget" : "Overspent" }}
            </p>
            <p
              :class="
                balance >= 0
                  ? 'title has-text-success'
                  : 'title has-text-danger'
              "
            >
              {{ Math.abs(balance) }}
            </p>
          </div>
        </div>
      </nav>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <!-- House info -->
        <div class="field">
          <div class="columns">
            <div class="column">
              <div class="field">
                <figure class="image is-square">
                  <img
                    :src="
                      home.picture
                        ? `data:image/png;base64, ${home.picture}`
                        : 'https://bulma.io/images/placeholders/1280x960.png'
                    "
                  />
                </figure>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <p class="label">{{ home.name }}</p>
                <p style="white-space: pre-line">{{ home.address }}</p>
                <p>{{ home.postalCode }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Residents -->
        <div class="field">
          <p class="label">Residents</p>
          <table class="table">
            <tbody>
              <tr v-for="resident in home.residents" :key="resident.id">
                <td>
                  <span class="icon-text">
                    <span>{{ resident.username }}</span>
                    <span
                      v-if="resident.accountId === $store.state.account.id"
                      class="icon has-text-info"
                    >
                      <i class="fas fa-user" title="You"></i>
                    </span>
                  </span>
                </td>
                <td>{{ resident.isOwner ? "Owner" : "Tenant" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <div class="tabs is-centered">
          <ul>
            <li
              :class="selectedTab === 'payments' ? 'is-active' : ''"
              @click="selectedTab = 'payments'"
            >
              <a>
                <span class="icon">
                  <i class="fas fa-receipt"></i>
                </span>
                <span>Current Month Payments</span>
              </a>
            </li>
            <li
              :class="selectedTab === 'paymentCategories' ? 'is-active' : ''"
              @click="selectedTab = 'paymentCategories'"
            >
              <a>
                <span class="icon">
                  <i class="fas fa-tags"></i>
                </span>
                <span>Payment Categories</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- Payments of the month -->
        <template v-if="selectedTab === 'payments'">
          <div class="field">
            <div class="buttons">
              <router-link
                v-if="home.id"
                class="button is-primary"
                :to="{ name: 'PaymentCreate', params: { id: home.id } }"
              >
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Add new payment</span>
              </router-link>
              <router-link
                v-if="home.id"
                class="button is-light"
                :to="{ name: 'HomePayments', params: { id: home.id } }"
              >
                <span class="icon"><i class="fas fa-list"></i></span>
                <span>See all payments</span>
              </router-link>
            </div>
          </div>
          <div class="table-container">
            <table class="table is-hoverable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Category</th>
                  <th>Paid by</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="payment in home.payments" :key="payment.id">
                  <td>{{ payment.name }}</td>
                  <td>
                    {{ new Date(payment.dateTime).toLocaleString() }}
                  </td>
                  <td>{{ payment.amount.toFixed(2) }}</td>
                  <td>{{ payment.category?.name || "NA" }}</td>
                  <td>{{ payment.resident.username }}</td>
                  <td>
                    <router-link
                      class="button is-light is-small"
                      :to="{
                        name: 'PaymentUpdate',
                        params: { id: payment.id, callbackUrl: $route.fullPath },
                      }"
                      >Edit</router-link
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
        <template v-if="selectedTab === 'paymentCategories'">
          <table class="table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Category</th>
                <th>Budget</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="category in home.paymentCategories" :key="category.id">
                <td>
                  {{ category.name }}
                </td>
                <td>
                  {{ category.budget.toFixed(2) }}
                </td>
              </tr>
            </tbody>
          </table>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IHomeDetail } from "@/models/home";
import axios from "axios";

export default defineComponent({
  name: "HomeDetails",
  data() {
    return {
      home: {} as IHomeDetail,
      selectedTab: "payments" as string,
      totalBudget: 0 as number,
      totalSpending: 0 as number,
      balance: 0 as number,
    };
  },
  async created() {
    const { id } = this.$route.params;
    this.home = (
      await axios.get(`${process.env.VUE_APP_BACKEND}/api/homes/${id}`, {
        headers: {
          Authorization: `Bearer ${this.$store.state.account.accessToken}`,
        },
      })
    ).data;

    this.home.residents = this.home.residents.sort((a, b) =>
      a.isOwner === b.isOwner ? 0 : a.isOwner ? -1 : 1
    );

    this.totalSpending = this.home.payments.reduce(
      (pv, cv) => pv + cv.amount,
      0
    );
    this.totalBudget = this.home.paymentCategories.reduce(
      (pv, cv) => pv + cv.budget,
      0
    );
    this.balance = +(this.totalBudget - this.totalSpending).toFixed(2);
  },
});
</script>
