<template>
  <div>
    <p class="title">Update Home</p>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label for="name" class="label">Name</label>
          <div class="control">
            <input
              type="text"
              :class="
                validationResult.hasError('name') ? 'input is-danger' : 'input'
              "
              id="name"
              v-model="home.name"
              placeholder="Name"
            />
          </div>
          <p class="help is-danger" v-if="validationResult.hasError('name')">
            {{ validationResult.getErrorMessage("name") }}
          </p>
        </div>
        <div class="field">
          <label class="label" for="address">Address</label>
          <div class="control">
            <textarea
              id="address"
              :class="
                validationResult.hasError('address')
                  ? 'textarea is-danger'
                  : 'textarea'
              "
              placeholder="Address"
              v-model="home.address"
            ></textarea>
          </div>
          <p class="help is-danger" v-if="validationResult.hasError('address')">
            {{ validationResult.getErrorMessage("address") }}
          </p>
        </div>
        <div class="field">
          <label for="postalCode" class="label">Postal Code</label>
          <div class="control">
            <input
              type="text"
              :class="
                validationResult.hasError('postalCode')
                  ? 'input is-danger'
                  : 'input'
              "
              id="postalCode"
              v-model="home.postalCode"
              placeholder="123456"
            />
          </div>
          <p
            class="help is-danger"
            v-if="validationResult.hasError('postalCode')"
          >
            {{ validationResult.getErrorMessage("postalCode") }}
          </p>
        </div>
        <div class="field">
          <label for="picture" class="label">Picture</label>
          <figure class="image is-128x128">
            <img
              :src="
                home.picture
                  ? `data:image/png;base64, ${home.picture}`
                  : 'https://bulma.io/images/placeholders/1280x960.png'
              "
            />
          </figure>
          <div class="file has-name">
            <label class="file-label">
              <input
                id="picture"
                class="file-input"
                type="file"
                name="resume"
                @change="uploadPicture"
              />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">Choose a file…</span>
              </span>
              <span class="file-name">
                {{ pictureName }}
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="tabs is-centered">
          <ul>
            <li
              :class="selectedTab === 'residents' ? 'is-active' : ''"
              @click="selectedTab = 'residents'"
            >
              <a>
                <span class="icon">
                  <i class="fas fa-users"></i>
                </span>
                <span>Residents</span>
              </a>
            </li>
            <li
              :class="selectedTab === 'paymentCategories' ? 'is-active' : ''"
              @click="selectedTab = 'paymentCategories'"
            >
              <a>
                <span class="icon">
                  <i class="fas fa-tags"></i>
                </span>
                <span>Payment Categories</span>
              </a>
            </li>
          </ul>
        </div>
        <template v-if="selectedTab === 'residents'">
          <div class="table-container">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="resident in residents" :key="resident.accountId">
                  <td>
                    <span class="icon-text">
                      <span>{{ resident.username }}</span>
                      <span
                        v-if="resident.accountId === $store.state.account.id"
                        class="icon has-text-info"
                      >
                        <i class="fas fa-user" title="You"></i>
                      </span>
                    </span>
                  </td>
                  <td>{{ resident.isOwner ? "Owner" : "Tenant" }}</td>
                  <td>
                    <template
                      v-if="resident.accountId === $store.state.account.id"
                    ></template>
                    <template v-else>
                      <template v-if="resident.isOwner">
                        <div class="buttons">
                          <a
                            v-if="
                              home.residentsToRemove.find(
                                (r) => r === resident.id
                              )
                            "
                            class="button is-light is-danger is-small"
                            @click="
                              home.residentsToRemove.splice(
                                home.residentsToRemove.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              )
                            "
                            >Removed</a
                          >
                          <a
                            v-else
                            class="button is-light is-small"
                            @click="
                              home.residentsToDowngrade.splice(
                                home.residentsToDowngrade.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              );
                              home.residentsToRemove.push(resident.id);
                            "
                          >
                            Remove owner
                          </a>
                          <a
                            v-if="
                              home.residentsToDowngrade.find(
                                (r) => r === resident.id
                              )
                            "
                            class="button is-light is-warning is-small"
                            @click="
                              home.residentsToDowngrade.splice(
                                home.residentsToDowngrade.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              )
                            "
                            >Downgraded</a
                          >
                          <a
                            v-else
                            class="button is-light is-small"
                            @click="
                              home.residentsToRemove.splice(
                                home.residentsToRemove.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              );
                              home.residentsToDowngrade.push(resident.id);
                            "
                          >
                            Downgrade to tenant
                          </a>
                        </div>
                      </template>
                      <template v-if="!resident.isOwner">
                        <div class="buttons">
                          <a
                            v-if="
                              home.residentsToRemove.find(
                                (r) => r === resident.id
                              )
                            "
                            class="button is-light is-danger is-small"
                            @click="
                              home.residentsToRemove.splice(
                                home.residentsToRemove.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              )
                            "
                            >Removed</a
                          >
                          <a
                            v-else
                            class="button is-light is-small"
                            @click="
                              home.residentsToUpgrade.splice(
                                home.residentsToUpgrade.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              );
                              home.residentsToRemove.push(resident.id);
                            "
                          >
                            Remove tenant
                          </a>
                          <a
                            v-if="
                              home.residentsToUpgrade.find(
                                (r) => r === resident.id
                              )
                            "
                            class="button is-light is-success is-small"
                            @click="
                              home.residentsToUpgrade.splice(
                                home.residentsToUpgrade.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              )
                            "
                            >Upgraded</a
                          >
                          <a
                            v-else
                            class="button is-light is-small"
                            @click="
                              home.residentsToRemove.splice(
                                home.residentsToRemove.findIndex(
                                  (r) => r === resident.id
                                ),
                                1
                              );
                              home.residentsToUpgrade.push(resident.id);
                            "
                          >
                            Upgrade to owner
                          </a>
                        </div>
                      </template>
                    </template>
                  </td>
                </tr>
                <tr v-for="user in otherUsers" :key="user.id">
                  <td>{{ user.username }}</td>
                  <td></td>
                  <td>
                    <a
                      v-if="home.accountsToAdd.find((u) => u === user.id)"
                      class="button is-light is-success is-small"
                      @click="
                        home.accountsToAdd.splice(
                          home.accountsToAdd.findIndex((u) => u === user.id),
                          1
                        )
                      "
                      >Added</a
                    >
                    <a
                      v-else
                      class="button is-light is-small"
                      @click="home.accountsToAdd.push(user.id)"
                      >Add as tenant</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </template>
        <template v-if="selectedTab === 'paymentCategories'">
          <div class="field">
            <div class="buttons">
              <a
                class="button is-light is-primary is-small"
                @click="isPaymentCategoryCreateModalActive = true"
              >
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Add new payment category</span>
              </a>
            </div>
          </div>
          <table class="table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Name</th>
                <th>Budget</th>
                <th>Order</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="category in paymentCategories" :key="category.id">
                <td>
                  {{ category.name }}
                </td>
                <td>
                  {{ category.budget.toFixed(2) }}
                </td>
                <td>
                  {{ category.order }}
                </td>
                <td>
                  <div class="buttons">
                    <button
                      class="button is-light is-small"
                      @click="
                        selectedPaymentCategory = category;
                        isPaymentCategoryUpdateModalActive = true;
                      "
                    >
                      Edit
                    </button>
                    <template
                      v-if="
                        home.paymentCategoriesToDelete.includes(category.id)
                      "
                    >
                      <button
                        class="button is-light is-small is-danger"
                        @click="
                          home.paymentCategoriesToDelete.splice(
                            home.paymentCategoriesToDelete.findIndex(
                              (c) => c === category.id
                            ),
                            1
                          )
                        "
                      >
                        Deleted
                      </button>
                    </template>
                    <template v-else
                      ><button
                        class="button is-light is-small"
                        @click="
                          home.paymentCategoriesToDelete.push(category.id)
                        "
                      >
                        Delete
                      </button>
                    </template>
                  </div>
                </td>
              </tr>
              <tr
                v-for="category in home.paymentCategoriesToCreate"
                :key="category.name"
              >
                <td>
                  {{ category.name }}
                </td>
                <td>
                  {{ category.budget.toFixed(2) }}
                </td>
                <td>
                  <div class="buttons">
                    <a
                      class="button is-light is-small"
                      @click="
                        home.paymentCategoriesToCreate.splice(
                          home.paymentCategoriesToCreate.findIndex(
                            (c) => c.name == category.name
                          )
                        )
                      "
                      >Undo</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div
            :class="
              isPaymentCategoryCreateModalActive ? 'modal is-active' : 'modal'
            "
          >
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Create New Payment Category</p>
                <button
                  class="delete"
                  aria-label="close"
                  @click="isPaymentCategoryCreateModalActive = false"
                ></button>
              </header>
              <section class="modal-card-body">
                <div class="field">
                  <label for="newPaymentCategoryName">Name</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('name')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="text"
                      id="newPaymentCategoryName"
                      v-model="newPaymentCategory.name"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('name')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("name")
                    }}
                  </p>
                </div>
                <div class="field">
                  <label for="newPaymentCategoryBudget">Budget</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('budget')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="number"
                      min="0"
                      step="0.01"
                      id="newPaymentCategoryBudget"
                      v-model="newPaymentCategory.budget"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('budget')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("budget")
                    }}
                  </p>
                </div>
                <div class="field">
                  <label for="newPaymentCategoryOrder">Order</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('order')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="number"
                      step="1"
                      id="newPaymentCategoryOrder"
                      v-model="newPaymentCategory.order"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('order')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("order")
                    }}
                  </p>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button
                  class="button is-success"
                  @click="addNewPaymentCategory"
                >
                  Save changes
                </button>
                <button
                  class="button"
                  @click="isPaymentCategoryCreateModalActive = false"
                >
                  Cancel
                </button>
              </footer>
            </div>
          </div>

          <div
            :class="
              isPaymentCategoryUpdateModalActive ? 'modal is-active' : 'modal'
            "
          >
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Update Payment Category</p>
                <button
                  class="delete"
                  aria-label="close"
                  @click="isPaymentCategoryUpdateModalActive = false"
                ></button>
              </header>
              <section class="modal-card-body">
                <div class="field">
                  <label for="selectedPaymentCategoryName">Name</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('name')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="text"
                      id="selectedPaymentCategoryName"
                      v-model="selectedPaymentCategory.name"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('name')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("name")
                    }}
                  </p>
                </div>
                <div class="field">
                  <label for="selectedPaymentCategoryBudget">Budget</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('budget')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="number"
                      min="0"
                      step="0.01"
                      id="selectedPaymentCategoryBudget"
                      v-model="selectedPaymentCategory.budget"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('budget')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("budget")
                    }}
                  </p>
                </div>
                <div class="field">
                  <label for="selectedPaymentCategoryOrder">Order</label>
                  <div class="control">
                    <input
                      :class="
                        paymentCategoryValidationResult.hasError('order')
                          ? 'input is-danger'
                          : 'input'
                      "
                      type="number"
                      step="1"
                      id="selectedPaymentCategoryOrder"
                      v-model="selectedPaymentCategory.order"
                    />
                  </div>
                  <p
                    class="help is-danger"
                    v-if="paymentCategoryValidationResult.hasError('order')"
                  >
                    {{
                      paymentCategoryValidationResult.getErrorMessage("order")
                    }}
                  </p>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button
                  class="button is-success"
                  @click="updateNewPaymentCategory"
                >
                  Save changes
                </button>
                <button
                  class="button"
                  @click="isPaymentCategoryUpdateModalActive = false"
                >
                  Cancel
                </button>
              </footer>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" @click="submit">Update</button>
      </div>
      <div class="control">
        <button
          class="button is-warning"
          @click="$router.push({ name: 'Homes' })"
        >
          Cancel
        </button>
      </div>
      <div class="control">
        <button class="button is-danger" @click="deleteHome">Delete</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IHomeDetail, IHomeUpdate } from "@/models/home";
import { Alert, AlertType } from "@/models/alert";
import imageConverter from "@/utils/imageConverter";
import axios from "axios";
import Joi from "joi";
import { ValidationResult } from "@/models/validation";
import { IResidentSimple } from "@/models/resident";
import { IAccountSimple } from "@/models/account";
import {
  IPaymentCategory,
  IPaymentCategoryCreate,
  IPaymentCategoryUpdate,
} from "@/models/payment";

export default defineComponent({
  name: "HomeUpdate",
  data() {
    return {
      home: {
        accountsToAdd: [] as Array<string>,
        residentsToRemove: [] as Array<string>,
        residentsToUpgrade: [] as Array<string>,
        residentsToDowngrade: [] as Array<string>,
        paymentCategoriesToCreate: [] as Array<IPaymentCategoryCreate>,
        paymentCategoriesToUpdate: [] as Array<IPaymentCategoryUpdate>,
        paymentCategoriesToDelete: [] as Array<string>,
      } as IHomeUpdate,
      residents: [] as Array<IResidentSimple>,
      otherUsers: [] as Array<IAccountSimple>,
      picturePreview: "" as string,
      pictureName: "" as string,
      validationResult: new ValidationResult(),
      selectedTab: "residents" as string,
      paymentCategories: [] as Array<IPaymentCategory>,
      isPaymentCategoryCreateModalActive: false as boolean,
      newPaymentCategory: { name: "", budget: 0 } as IPaymentCategoryCreate,
      isPaymentCategoryUpdateModalActive: false as boolean,
      selectedPaymentCategory: {
        id: "",
        name: "",
        budget: 0,
      } as IPaymentCategoryUpdate,
      paymentCategoryValidationResult: new ValidationResult(),
    };
  },
  async created() {
    const { id } = this.$route.params;
    const home: IHomeDetail = (
      await axios.get(`${process.env.VUE_APP_BACKEND}/api/homes/${id}`, {
        headers: {
          Authorization: `Bearer ${this.$store.state.account.accessToken}`,
        },
      })
    ).data;

    this.home.id = home.id;
    this.home.name = home.name;
    this.home.address = home.address;
    this.home.postalCode = home.postalCode;
    this.home.picture = home.picture;

    this.residents = home.residents.sort((a, b) =>
      a.isOwner === b.isOwner ? 0 : a.isOwner ? -1 : 1
    );

    this.otherUsers = (
      await axios.get(`${process.env.VUE_APP_BACKEND}/api/accounts/users`, {
        headers: {
          Authorization: `Bearer ${this.$store.state.account.accessToken}`,
        },
      })
    ).data;

    this.otherUsers = this.otherUsers.filter(
      (u) => !this.residents.map((r) => r.accountId).includes(u.id)
    );

    this.paymentCategories = home.paymentCategories;
  },
  methods: {
    async uploadPicture(e: Event) {
      const target = e.target as HTMLInputElement;
      if (target == null) return;

      const file =
        target.files && target.files.length > 0 ? target.files[0] : null;
      if (file == null) return;

      this.pictureName = file.name;
      this.picturePreview = window.URL.createObjectURL(file);

      const result = await imageConverter.imageToBase64(file);
      if (result && typeof result == "string")
        this.home.picture = result.split(",")[1];
    },
    async submit() {
      console.log(this.home);
      if (!this.isDataValid()) return;

      const alert = new Alert();

      try {
        const response = await axios.put(
          `${process.env.VUE_APP_BACKEND}/api/homes/${this.home.id}`,
          this.home,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        );

        alert.type = AlertType.success;
        alert.message = response.statusText;
        this.$store.commit("setAlert", alert);

        this.$router.push("/homes");
      } catch (error) {
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    async deleteHome() {
      const alert = new Alert();

      try {
        const response = await axios.delete(
          `${process.env.VUE_APP_BACKEND}/api/homes/${this.home.id}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        );

        alert.type = AlertType.success;
        alert.message = response.statusText;
        this.$store.commit("setAlert", alert);

        this.$router.push({ name: "Homes" });
      } catch (error) {
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        name: Joi.string().label("Name").required(),
        address: Joi.string().label("Address").required(),
        postalCode: Joi.string().label("Postal code").required(),
      });

      const validationResults = schema.validate(
        {
          name: this.home.name,
          address: this.home.address,
          postalCode: this.home.postalCode,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
    isPaymentCategoryDataValid(purpose: string) {
      const schema = Joi.object({
        name: Joi.string().label("Name").required(),
        budget: Joi.number().min(0).label("Budget").optional(),
        order: Joi.number().integer().label("Order").optional(),
      });

      if (purpose === "create") {
        const validationResults = schema.validate(
          {
            name: this.newPaymentCategory.name,
            budget: this.newPaymentCategory.budget,
            order: this.newPaymentCategory.order,
          },
          { abortEarly: false }
        );

        this.paymentCategoryValidationResult.set(validationResults);
      } else if (purpose === "update") {
        const validationResults = schema.validate(
          {
            name: this.selectedPaymentCategory.name,
            budget: this.selectedPaymentCategory.budget,
            order: this.selectedPaymentCategory.order,
          },
          { abortEarly: false }
        );
        this.paymentCategoryValidationResult.set(validationResults);
      } else return;

      return !this.paymentCategoryValidationResult.hasError();
    },
    addNewPaymentCategory() {
      if (!this.isPaymentCategoryDataValid("create")) return;

      this.home.paymentCategoriesToCreate.push({
        ...this.newPaymentCategory,
      });
      this.isPaymentCategoryCreateModalActive = false;
      this.newPaymentCategory = {
        name: "",
        budget: 0,
        order: 0,
      };
    },
    updateNewPaymentCategory() {
      if (!this.isPaymentCategoryDataValid("update")) return;

      this.home.paymentCategoriesToUpdate.push({
        ...this.selectedPaymentCategory,
      });
      this.isPaymentCategoryUpdateModalActive = false;
    },
  },
});
</script>
