<template>
  <div>
    <p class="title">Create Home</p>
    <div class="field">
      <label for="name" class="label">Name</label>
      <div class="control">
        <input
          type="text"
          :class="
            validationResult.hasError('name') ? 'input is-danger' : 'input'
          "
          id="name"
          v-model="home.name"
          placeholder="Name"
        />
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('name')">
        {{ validationResult.getErrorMessage("name") }}
      </p>
    </div>
    <div class="field">
      <label class="label" for="address">Address</label>
      <div class="control">
        <textarea
          id="address"
          :class="
            validationResult.hasError('address')
              ? 'textarea is-danger'
              : 'textarea'
          "
          placeholder="Address"
          v-model="home.address"
        ></textarea>
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('address')">
        {{ validationResult.getErrorMessage("address") }}
      </p>
    </div>
    <div class="field">
      <label for="postalCode" class="label">Postal Code</label>
      <div class="control">
        <input
          type="text"
          :class="
            validationResult.hasError('postalCode')
              ? 'input is-danger'
              : 'input'
          "
          id="postalCode"
          v-model="home.postalCode"
          placeholder="123456"
        />
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('postalCode')">
        {{ validationResult.getErrorMessage("postalCode") }}
      </p>
    </div>
    <div class="field">
      <label for="picture" class="label">Picture</label>
      <figure class="image is-128x128">
        <img
          :src="
            home.picture
              ? `data:image/png;base64, ${home.picture}`
              : 'https://bulma.io/images/placeholders/1280x960.png'
          "
        />
      </figure>
      <div class="file has-name">
        <label class="file-label">
          <input
            id="picture"
            class="file-input"
            type="file"
            name="resume"
            @change="uploadPicture"
          />
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">Choose a file…</span>
          </span>
          <span class="file-name">
            {{ pictureName }}
          </span>
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" @click="submit">Create</button>
      </div>
      <div class="control">
        <button
          class="button is-warning"
          @click="$router.push({ name: 'Homes' })"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IHomeCreate } from "@/models/home";
import { Alert, AlertType } from "@/models/alert";
import imageConverter from "@/utils/imageConverter";
import axios from "axios";
import Joi from "joi";
import { ValidationResult } from "@/models/validation";

export default defineComponent({
  name: "HomeCreate",
  data() {
    return {
      home: {} as IHomeCreate,
      picturePreview: "" as string,
      pictureName: "" as string,
      validationResult: new ValidationResult(),
    };
  },
  methods: {
    async uploadPicture(e: Event) {
      const target = e.target as HTMLInputElement;
      if (target == null) return;

      const file =
        target.files && target.files.length > 0 ? target.files[0] : null;
      if (file == null) return;

      this.pictureName = file.name;
      this.picturePreview = window.URL.createObjectURL(file);

      const result = await imageConverter.imageToBase64(file);
      if (result && typeof result == "string")
        this.home.picture = result.split(",")[1];
    },
    async submit() {
      if (!this.isDataValid()) return;

      const alert = new Alert();

      try {
        const response = await axios.post(
          `${process.env.VUE_APP_BACKEND}/api/homes`,
          this.home,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        );

        alert.type = AlertType.success;
        alert.message = response.statusText;
        this.$store.commit("setAlert", alert);

        this.$router.push("/homes");
      } catch (error) {
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        name: Joi.string().label("Name").required(),
        address: Joi.string().label("Address").required(),
        postalCode: Joi.string().label("Postal code").required(),
      });

      const validationResults = schema.validate(
        {
          name: this.home.name,
          address: this.home.address,
          postalCode: this.home.postalCode,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
