<template>
  <div class="columns">
    <div class="column">
      <p class="title">Log In</p>
      <div class="field">
        <label class="label" for="username">User Name</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('username')
                ? 'input is-danger'
                : 'input'
            "
            type="text"
            id="username"
            v-model="accountLogin.username"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('username')">
          {{ validationResult.getErrorMessage("username") }}
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('password')
                ? 'input is-danger'
                : 'input'
            "
            type="password"
            id="password"
            v-model="accountLogin.password"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('password')">
          {{ validationResult.getErrorMessage("password") }}
        </p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" @click="signIn">Sign In</button>
        </div>
        <div class="control">
          <router-link
            class="button is-text"
            :to="{ name: 'ResetPasswordEmail' }"
            >Reset Password</router-link
          >
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IAccountLogin, Account } from "@/models/account";
import { Alert, AlertType } from "@/models/alert";
import { ValidationResult } from "@/models/validation";
import axios from "axios";
import Joi from "joi";

export default defineComponent({
  name: "LogIn",
  data() {
    return {
      accountLogin: {} as IAccountLogin,
      validationResult: new ValidationResult(),
    };
  },
  computed: {
    account() {
      return this.$store.state.account;
    },
  },
  methods: {
    async signIn() {
      if (!this.isDataValid()) return;

      try {
        const { accessToken } = (
          await axios.post(
            `${process.env.VUE_APP_BACKEND}/api/accounts/login`,
            this.accountLogin
          )
        ).data;

        const account = new Account(accessToken);
        const alert = new Alert(AlertType.success, `Hi, ${account.username}`);

        this.$store.commit("setAlert", alert);
        this.$store.commit("setAccount", account);
        this.$router.push({ name: "Homes" });
      } catch (error) {
        const alert = new Alert(AlertType.warning);
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        username: Joi.string().label("Username").required(),
        password: Joi.string().label("Password").required(),
      });

      const validationResults = schema.validate(
        {
          username: this.accountLogin.username,
          password: this.accountLogin.password,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
