<template>
  <div>
    <p class="title">Update Payment</p>
    <p class="subtitle">{{ home.name }}</p>
    <div class="field">
      <label for="name" class="label">Payment Name</label>
      <div class="control">
        <input
          type="text"
          :class="
            validationResult.hasError('name') ? 'input is-danger' : 'input'
          "
          id="name"
          v-model="payment.name"
          placeholder="Name"
        />
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('name')">
        {{ validationResult.getErrorMessage("name") }}
      </p>
    </div>
    <div class="field">
      <label for="dateTime" class="label">Date and Time</label>
      <div class="control">
        <input
          type="datetime-local"
          :class="
            validationResult.hasError('dateTime') ? 'input is-danger' : 'input'
          "
          id="dateTime"
          v-model="payment.dateTime"
        />
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('dateTime')">
        {{ validationResult.getErrorMessage("dateTime") }}
      </p>
    </div>
    <div class="field">
      <label for="amount" class="label">Amount</label>
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static">SGD</a>
        </div>
        <div class="control">
          <input
            type="number"
            min="0"
            step="0.01"
            :class="
              validationResult.hasError('amount') ? 'input is-danger' : 'input'
            "
            id="amount"
            v-model="payment.amount"
            placeholder="0.00"
          />
        </div>
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('amount')">
        {{ validationResult.getErrorMessage("amount") }}
      </p>
    </div>
    <div class="field">
      <label for="category" class="label">Category</label>
      <div
        :class="
          validationResult.hasError('category') ? 'select is-danger' : 'select'
        "
      >
        <select id="category" v-model="payment.categoryId">
          <option :value="null">Select dropdown</option>
          <option
            v-for="category in home.paymentCategories"
            :key="category.id"
            :value="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('category')">
        {{ validationResult.getErrorMessage("category") }}
      </p>
    </div>
    <div class="field">
      <label for="paidBy" class="label">Paid By</label>
      <div
        :class="
          validationResult.hasError('paidBy') ? 'select is-danger' : 'select'
        "
      >
        <select id="paidBy" v-model="payment.residentId">
          <option :value="null">Select dropdown</option>
          <option
            v-for="resident in home.residents"
            :key="resident.id"
            :value="resident.id"
          >
            {{ resident.username }}
          </option>
        </select>
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('paidBy')">
        {{ validationResult.getErrorMessage("paidBy") }}
      </p>
    </div>
    <div class="field">
      <label class="label" for="remarks">Remarks</label>
      <div class="control">
        <textarea
          id="remarks"
          :class="
            validationResult.hasError('remarks')
              ? 'textarea is-danger'
              : 'textarea'
          "
          placeholder="Remarks"
          v-model="payment.remarks"
        ></textarea>
      </div>
      <p class="help is-danger" v-if="validationResult.hasError('remarks')">
        {{ validationResult.getErrorMessage("remarks") }}
      </p>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" @click="submit">Update</button>
      </div>
      <div class="control">
        <button
          class="button is-warning"
          @click="
            callbackUrl
              ? $router.push(callbackUrl)
              : $router.push({
                  name: 'HomeDetails',
                  params: { id: home.id },
                })
          "
        >
          Cancel
        </button>
      </div>
      <div class="control">
        <button class="button is-danger" @click="deletePayment">Delete</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IPaymentDetail, IPaymentUpdate } from "@/models/payment";
import { IHomeDetailForPaymentSetup } from "@/models/home";
import { ValidationResult } from "@/models/validation";
import { Alert, AlertType } from "@/models/alert";
import Joi from "joi";
import axios from "axios";
import moment from "moment-timezone";

export default defineComponent({
  name: "PaymentUpdate",
  data() {
    return {
      home: {} as IHomeDetailForPaymentSetup,
      payment: {} as IPaymentUpdate,
      callbackUrl: "" as string,
      validationResult: new ValidationResult(),
    };
  },
  async created() {
    this.callbackUrl = this.$route.params.callbackUrl as string;
    const paymentId = this.$route.params.id as string;
    const paymentDetail: IPaymentDetail = (
      await axios.get(
        `${process.env.VUE_APP_BACKEND}/api/payments/${paymentId}`,
        {
          headers: {
            Authorization: `Bearer ${this.$store.state.account.accessToken}`,
          },
        }
      )
    ).data;

    this.payment.id = paymentDetail.id;
    this.payment.name = paymentDetail.name;
    this.payment.dateTime = moment
      .tz(paymentDetail.dateTime, "Asia/Singapore")
      .format("YYYY-MM-DDTHH:mm:ss");
    this.payment.amount = paymentDetail.amount;
    this.payment.remarks = paymentDetail.remarks || "";
    this.payment.categoryId = paymentDetail.category?.id as string;
    this.payment.residentId = paymentDetail.resident?.id as string;

    const homeId = paymentDetail.home.id;

    this.home = (
      await axios.get(
        `${process.env.VUE_APP_BACKEND}/api/homes/${homeId}/forpaymentsetup`,
        {
          headers: {
            Authorization: `Bearer ${this.$store.state.account.accessToken}`,
          },
        }
      )
    ).data;
  },
  methods: {
    async submit() {
      if (!this.isDataValid()) return;
      this.payment.dateTime = moment
        .tz(this.payment.dateTime, "Asia/Singapore")
        .toISOString();

      const alert = new Alert();

      try {
        const response = await axios.put(
          `${process.env.VUE_APP_BACKEND}/api/payments/${this.payment.id}`,
          this.payment,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        );

        alert.type = AlertType.success;
        alert.message = response.statusText;
        this.$store.commit("setAlert", alert);

        if (this.callbackUrl !== undefined) this.$router.push(this.callbackUrl);
        else
          this.$router.push({
            name: "HomeDetails",
            params: { id: this.home.id },
          });
      } catch (error) {
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    async deletePayment() {
      const alert = new Alert();

      try {
        const response = await axios.delete(
          `${process.env.VUE_APP_BACKEND}/api/payments/${this.payment.id}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.account.accessToken}`,
            },
          }
        );

        alert.type = AlertType.success;
        alert.message = response.statusText;
        this.$store.commit("setAlert", alert);

        if (this.callbackUrl !== "") this.$router.push(this.callbackUrl);
        else
          this.$router.push({
            name: "HomeDetails",
            params: { id: this.home.id },
          });
      } catch (error) {
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        if (error instanceof Error) alert.message = error.message;

        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        name: Joi.string().label("Payment Name").required(),
        amount: Joi.number().min(0).label("Amount").required(),
        dateTime: Joi.date().label("Date and Time").required(),
        category: Joi.optional().label("Category"),
        paidBy: Joi.required().disallow(null).label("Paid By"),
        remarks: Joi.string()
          .trim()
          .allow("")
          .allow(null)
          .optional()
          .label("Remarks"),
      });

      const validationResults = schema.validate(
        {
          name: this.payment.name,
          amount: this.payment.amount,
          dateTime: this.payment.dateTime,
          category: this.payment.categoryId,
          paidBy: this.payment.residentId,
          remarks: this.payment.remarks,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
