<template>
  <div class="columns">
    <div class="column">
      <p class="title">Request Password Reset</p>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('email') ? 'input is-danger' : 'input'
            "
            type="email"
            id="email"
            v-model="email"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('email')">
          {{ validationResult.getErrorMessage("email") }}
        </p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" @click="requestPasswordReset">Send Request</button>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Alert, AlertType } from "@/models/alert";
import { ValidationResult } from "@/models/validation";
import Joi from "joi";
import axios from "axios";

export default defineComponent({
  name: 'ResetPasswordEmail',
  data() {
    return {
      email: "" as string,
      validationResult: new ValidationResult(),
    };
  },

  methods: {
    async requestPasswordReset() {
      if (!this.isDataValid()) return;

      const alert = new Alert();

      try {
        await axios.post(
          `${process.env.VUE_APP_BACKEND}/api/accounts/getResetPasswordToken?email=${encodeURIComponent(this.email)}`
        );

        alert.show = true;
        alert.message = "Please check your email to continue";
        this.$store.commit("setAlert", alert);
      } catch (error) {
        alert.show = true;
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        else if (error instanceof Error) alert.message = error.message;
        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        email: Joi.string()
          .email({ tlds: { allow: false } })
          .label("Email")
          .required(),
      });

      const validationResults = schema.validate(
        {
          email: this.email,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
