<template>
  <div class="columns">
    <div class="column">
      <p class="title">Reset Password</p>
      <div class="field">
        <label class="label" for="password">New Password</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('password')
                ? 'input is-danger'
                : 'input'
            "
            type="password"
            id="newPassword"
            v-model="passwordReset.password"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('password')">
          {{ validationResult.getErrorMessage("password") }}
        </p>
      </div>
      <div class="field">
        <label class="label" for="confirmedPassword">Confirm Password</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('confirmedPassword')
                ? 'input is-danger'
                : 'input'
            "
            type="password"
            id="confirmedPassword"
            v-model="confirmedPassword"
          />
        </div>
        <p
          class="help is-danger"
          v-if="validationResult.hasError('confirmedPassword')"
        >
          {{ validationResult.getErrorMessage("confirmedPassword") }}
        </p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" @click="resetPassword">
            Reset Password
          </button>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IAccountPasswordReset } from "@/models/account";
import { Alert, AlertType } from "@/models/alert";
import { ValidationResult } from "@/models/validation";
import Joi from "joi";
import axios from "axios";

export default defineComponent({
  name: "ResetPassword",
  data() {
    return {
      accountId: this.$route.query.accountId as string,
      token: this.$route.query.token as string,
      passwordReset: {} as IAccountPasswordReset,
      confirmedPassword: "" as string,
      validationResult: new ValidationResult(),
    };
  },

  methods: {
    async resetPassword() {
      if (!this.isDataValid()) return;

      const alert = new Alert();

      this.passwordReset.accountId = this.accountId;
      this.passwordReset.token = this.token;
      try {
        await axios.post(
          `${process.env.VUE_APP_BACKEND}/api/accounts/resetPassword`,
          this.passwordReset
        );

        this.$router.push({ name: "LogIn" });
        alert.show = true;
        alert.message = "Password reset successfully.";
        this.$store.commit("setAlert", alert);
      } catch (error) {
        alert.show = true;
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        else if (error instanceof Error) alert.message = error.message;
        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        password: Joi.string()
          .min(6)
          .pattern(/[A-Z]/, "containsUppercase")
          .pattern(/[a-z]/, "containsLowercase")
          .pattern(/[0-9]/, "containsNumber")
          .pattern(/[#?!@$%^&*-]/, "containsSpecial")
          .messages({
            "string.pattern.name":
              '"Password" must contains at least 1 upper case, at least 1 lower case, at least 1 digit, and at least 1 non-alphanumeric character e.g. special characters like "#" or "$"',
          })
          .label("Password")
          .required(),
        confirmedPassword: Joi.equal(Joi.ref("password"))
          .messages({
            "any.only": '"Confirmed Password" must be same as "Password"',
          })
          .label("Confirmed Password"),
      });

      const validationResults = schema.validate(
        {
          password: this.passwordReset.password,
          confirmedPassword: this.confirmedPassword,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
