<template>
  <div class="columns">
    <div class="column">
      <p class="title">Sign Up</p>
      <div class="field">
        <label class="label" for="username">User Name</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('username')
                ? 'input is-danger'
                : 'input'
            "
            type="text"
            id="username"
            v-model="accountRegister.username"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('username')">
          {{ validationResult.getErrorMessage("username") }}
        </p>
      </div>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('email') ? 'input is-danger' : 'input'
            "
            type="email"
            id="email"
            v-model="accountRegister.email"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('email')">
          {{ validationResult.getErrorMessage("email") }}
        </p>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('password')
                ? 'input is-danger'
                : 'input'
            "
            type="password"
            id="password"
            v-model="accountRegister.password"
          />
        </div>
        <p class="help is-danger" v-if="validationResult.hasError('password')">
          {{ validationResult.getErrorMessage("password") }}
        </p>
      </div>
      <div class="field">
        <label class="label" for="confirmedPassword">Confirm Password</label>
        <div class="control">
          <input
            :class="
              validationResult.hasError('confirmedPassword')
                ? 'input is-danger'
                : 'input'
            "
            type="password"
            id="confirmedPassword"
            v-model="confirmedPassword"
          />
        </div>
        <p
          class="help is-danger"
          v-if="validationResult.hasError('confirmedPassword')"
        >
          {{ validationResult.getErrorMessage("confirmedPassword") }}
        </p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" @click="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { IAccountRegister, Account } from "@/models/account";
import { Alert, AlertType } from "@/models/alert";
import { ValidationResult } from "@/models/validation";
import Joi from "joi";
import axios from "axios";

export default defineComponent({
  name: "SignUp",
  data() {
    return {
      accountRegister: {} as IAccountRegister,
      confirmedPassword: "" as string,
      validationResult: new ValidationResult(),
    };
  },
  methods: {
    async signUp() {
      if (!this.isDataValid()) return;

      const alert = new Alert();

      try {
        const { errors, succeeded, accessToken } = (
          await axios.post(
            `${process.env.VUE_APP_BACKEND}/api/accounts/register`,
            this.accountRegister
          )
        ).data;
        if (succeeded) {
          const account = new Account(accessToken);

          alert.type = AlertType.success;
          alert.message = `Hi, ${account.username}`;
          this.$store.commit("setAccount", account);

          this.$router.push({ name: "Homes" });
        } else {
          alert.type = AlertType.warning;
          alert.message = errors[0].description;
        }

        this.$store.commit("setAlert", alert);
      } catch (error) {
        alert.show = true;
        alert.type = AlertType.warning;
        if (axios.isAxiosError(error))
          alert.message =
            error.response?.data || error.response?.statusText || error.message;
        else if (error instanceof Error) alert.message = error.message;
        this.$store.commit("setAlert", alert);
      }
    },
    isDataValid() {
      const schema = Joi.object({
        username: Joi.string().label("Username").required(),
        email: Joi.string()
          .email({ tlds: { allow: false } })
          .label("Email")
          .required(),
        password: Joi.string()
          .min(6)
          .pattern(/[A-Z]/, "containsUppercase")
          .pattern(/[a-z]/, "containsLowercase")
          .pattern(/[0-9]/, "containsNumber")
          .pattern(/[#?!@$%^&*-]/, "containsSpecial")
          .messages({
            "string.pattern.name":
              '"Password" must contains at least 1 upper case, at least 1 lower case, at least 1 digit, and at least 1 non-alphanumeric character e.g. special characters like "#" or "$"',
          })
          .label("Password")
          .required(),
        confirmedPassword: Joi.equal(Joi.ref("password"))
          .messages({
            "any.only": '"Confirmed Password" must be same as "Password"',
          })
          .label("Confirmed Password"),
      });

      const validationResults = schema.validate(
        {
          username: this.accountRegister.username,
          email: this.accountRegister.email,
          password: this.accountRegister.password,
          confirmedPassword: this.confirmedPassword,
        },
        { abortEarly: false }
      );
      this.validationResult.set(validationResults);

      return !this.validationResult.hasError();
    },
  },
});
</script>
